{% extends "CFP_Portal/sidebar.html" %}
{% block content %}
{% load static%}

<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                
                                <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
                                <link rel="stylesheet" href="{% static 'CFP_Portal/about.css' %}">
                               <style type="text/css">
                                    </style>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript'></script>
                            </head>
                            <body oncontextmenu='return false' class='snippet-body'>
                            <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"> <img src="/media/about/naima.png" height="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> 
                    <h5 class="mt-2 mb-0">Naima SULTANA</h5> <span>Second year MEng undergraduate student at UCL</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">I am studying Computer Science at UCL. I am keen to learn many areas and industries involved with the various applications for computer science, especially the MedTech industry. I am excited to use my knowledge and learnings in my future and applications ahead. </p>
                      <span class="badge badge-secondary">My Role in the Team </span><br/>
                      <div class="text-center">
                        <p style="font-size:15px">Full-stack Developer in Django</p>
                       <p style="font-size:15px">UI/UX Designed</p>
                        <p style="font-size:15px">Tester</p>
                        </div>
                    </div>
                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>
                    <div class="buttons"> <button class="btn btn-outline-primary px-4">Email</button> <button class="btn btn-primary px-4 ms-3">Contact by phone</button> </div>
                </div>
            </div>

<br><br>
             <div class="card p-3 py-4">
                <div class="text-center"> <img src="/media/about/alexandra.png" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> 
                    <h5 class="mt-2 mb-0">Alexandra-Valentina IRIMIA</h5> <span>Second year BSc undergraduate student at UCL</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">   I am currently a second year student pursuing Computer Science at UCL and keen programmer. I envisage myself as a full stack developer, since I am so much fascinated by the extent to which high-tech took the ground over the past decade; with a deep grasp on digitalization, I am eager to implement solutions to the dire modern issues by putting my programming know-how into practice.      </p>
                      <span class="badge badge-secondary">My Role in the Team </span><br/>
                      <div class="text-center">
                        <p style="font-size:15px">Full-stack Developer in Django</p>
                        <p style="font-size:15px"> Tester </p>
                        <p style="font-size:15px">Team leader </p>
                        </div> 
                    </div>
                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>
                    <div class="buttons"> <button class="btn btn-outline-primary px-4">Email </button> <button class="btn btn-primary px-4 ms-3">Contact by phone</button> </div>
                </div>
            </div>
<br><br>
             <div class="card p-3 py-4">
                <div class="text-center"> <img src="/media/about/cian.png" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> 
                    <h5 class="mt-2 mb-0">Cian GOON</h5> <span>Second year BSc undergraduate student at UCL</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">I am currently a second year student pursuing Computer Science at UCL. I am still exploring the many fields of CS, finding my passion, but strongly believe its applications will define the future. I am glad to be part of this team to be working on this project, which in my opinion, has great potential to solidify the working relationship between university students and companies in the near future. 
                         </p>
                      <span class="badge badge-secondary">My Role in the Team </span>
                      <div class="text-center">
                        <p style="font-size:15px">Backend Developer in Django</p>
                        <p style="font-size:15px">UI/UX Designer</p>
                        </ul>
                    </div>
                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>
                    <div class="buttons"> <button class="btn btn-outline-primary px-4">Email </button> <button class="btn btn-primary px-4 ms-3">Contact by phone</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            </body>
                        </html>

{% endblock %}