{% extends "CFP_Portal/sidebar.html" %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CFP_Portal/mark_project_detail.css' %}">

    <style type="text/css">
    </style>
</head>
<body style="margin-top:-4px">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<header class="masthead">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 py-5">
                {% comment %} <h1 class="mb-4">{{object.project.project_title}} </h1> {% endcomment %}
                <h1 class="mb-4"> Project Title </h1>
                <h2 class="m-0"> Project Summarised Abstract in here </h2><br>
                 <a href ="{% url 'project-detail' review.project.id %}"><button type="button" class="btn btn-dark btn-xs  mt-1 mb-1"> 
                                <i class="fa fa-tasks" style="color:#999"></i> Visit the Project's Page
                           </button> </a> 
            </div>
            <div class="col-lg-5">
                <div class="py-5 px-4 masthead-cards">
                    <div class="d-flex">
                        <a href="#" class="w-50 pr-3 pb-4">
                            <div class="card border-0 border-bottom-red shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-pencil fa-4x my-2"></i>
                                    </div>
                                    Feedback
                                </div>
                            </div>
                        </a>
                        <a href="#" class="w-50 pl-3 pb-4">
                            <div class="card border-0 border-bottom-yellow shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-4x fa-code my-2"></i>
                                    </div>
                                    Comments
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex">
                       
                         <a href="#" class="w-50 pr-3">
                            <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-th fa-4x my-2"></i>
                                    </div>
                                    Green-Amber-Red System
                                </div>
                            </div>
                        </a>
                        <a href="#" class="w-50 pl-3">
                            <div class="card border-0 border-bottom-green shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-4x fa-list my-2"></i>
                                    </div>
                                    Marking Criteria
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="shape"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-image fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Criterion #1: Innovation</h3>
                    </p><!-- /.item-title -->
                    <p> Write in here the description of this criterion </p>
                         <div class="card">
             <div class="card-body">
                 
                  <label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" style="padding:10px 10px" size="30" name="example" checked /> </label>
                 <label>&nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label>
                  <label> &nbsp; &nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label>&nbsp;&nbsp; <input type="radio" class="option-input radio" name="example" />  </label> 
                  <hr>
                 <p class="card-description" style="color:#0530A2">&nbsp;0  &emsp;&nbsp; 1  &emsp; &nbsp;2  &emsp; &nbsp;3  &emsp; &nbsp;4  &emsp; &nbsp;5</p>

                
             </div>
      
     </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-lightbulb-o fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Criterion #2: Technical and Scientific Strength</h3>
                    </p><!-- /.item-title -->
                    <p> Write in here the description of this criterion </p>
                         <div class="card">
             <div class="card-body">
                 
                  <label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" style="padding:10px 10px" size="30" name="example" checked /> </label>
                 <label>&nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label>
                  <label> &nbsp; &nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label>&nbsp;&nbsp; <input type="radio" class="option-input radio" name="example" />  </label> 
                  <hr>
                 <p class="card-description" style="color:#0530A2">&nbsp;0  &emsp;&nbsp; 1  &emsp; &nbsp;2  &emsp; &nbsp;3  &emsp; &nbsp;4  &emsp; &nbsp;5</p>

                
             </div>
      
     </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-user fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Criterion #3: Usability </h3>
                    </p>
                    <p> Write in here the description of this criterion </p>
                         <div class="card">
             <div class="card-body">
                 
                  <label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" style="padding:10px 10px" size="30" name="example" checked /> </label>
                 <label>&nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label>
                  <label> &nbsp; &nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label>&nbsp;&nbsp; <input type="radio" class="option-input radio" name="example" />  </label> 
                  <hr>
                 <p class="card-description" style="color:#0530A2">&nbsp;0  &emsp;&nbsp; 1  &emsp; &nbsp;2  &emsp; &nbsp;3  &emsp; &nbsp;4  &emsp; &nbsp;5</p>

                
             </div>
      
     </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-image fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Criterion #4: Scalability</h3>
                    </p><!-- /.item-title -->
                    <p> Write in here the description of this criterion </p>
                         <div class="card">
             <div class="card-body">
                 
                  <label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" style="padding:10px 10px" size="30" name="example" checked /> </label>
                 <label>&nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label>
                  <label> &nbsp; &nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label>&nbsp;&nbsp; <input type="radio" class="option-input radio" name="example" />  </label> 
                  <hr>
                 <p class="card-description" style="color:#0530A2">&nbsp;0  &emsp;&nbsp; 1  &emsp; &nbsp;2  &emsp; &nbsp;3  &emsp; &nbsp;4  &emsp; &nbsp;5</p>

                
             </div>
      
     </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-lightbulb-o fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Criterion #5: Research Quality and Documentation</h3>
                    </p><!-- /.item-title -->
                    <p> Write in here the description of this criterion </p>
                         <div class="card">
             <div class="card-body">
                 
                  <label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" style="padding:10px 10px" size="30" name="example" checked /> </label>
                 <label>&nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label>
                  <label> &nbsp; &nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label>&nbsp;&nbsp; <input type="radio" class="option-input radio" name="example" />  </label> 
                  <hr>
                 <p class="card-description" style="color:#0530A2">&nbsp;0  &emsp;&nbsp; 1  &emsp; &nbsp;2  &emsp; &nbsp;3  &emsp; &nbsp;4  &emsp; &nbsp;5</p>

                
             </div>
      
     </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-user fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Criterion #6: Budgeting </h3>
                    </p>
                    <p> Write in here the description of this criterion </p>
                     <div class="card">
             <div class="card-body">
                 
                  <label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" style="padding:10px 10px" size="30" name="example" checked /> </label>
                 <label>&nbsp;&nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label>
                  <label> &nbsp; &nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label> &nbsp;&nbsp;<input type="radio" class="option-input radio" name="example" />  </label> 
                  <label>&nbsp;&nbsp; <input type="radio" class="option-input radio" name="example" />  </label> 
                  <hr>
                 <p class="card-description" style="color:#0530A2">&nbsp;0  &emsp;&nbsp; 1  &emsp; &nbsp;2  &emsp; &nbsp;3  &emsp; &nbsp;4  &emsp; &nbsp;5</p>

                
             </div>
      
     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" text-center>
 <h1 class="m-0" style="align:center; ">
        <b>  
                       <p style="color:#009933; display:inline; "> Green </p> 
                       <p style="color:white;display:inline"> - </p>
                       <p style="color:#FFBF00; display:inline"> Amber </p>
                       <p style="color:white;display:inline"> - </p>
                       <p style="color:#e60000;display:inline"> Red </p>
                       </b>
                       <p style="color:white;display:inline"> Marking System </p>
                       </h1>
                     
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline3">
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2018</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Green Button</h3>
                            <p class="description">
The project is approved for further consideration.       It is conderider successful given it complies to the main guidelines and requirements.                   </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2017</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Amber Button</h3>
                            <p class="description">
The project is satisfactory enough, but lacks consistency.     
                        </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2016</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Red Button</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                            </p>
                        </div>
                    </div>
                    </div>
                    </div>
                   <br><br>
    <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }
                
                .b {
                    clip-path: url(#a);
                }
                
                .c,
                .d {
                    fill: #f9f9fc;
                }
                
                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
            <clipPath id="a">
                <rect class="a" width="1920" height="75"></rect>
            </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
            <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
        </g>
        <g class="b">
            <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
        </g>
        <g class="b">
            <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
        </g>
        <g class="b">
            <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
        </g>
    </svg>
</header>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>

{% endblock %}