
{% extends "CFP_Portal/sidebar.html" %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>bs4 project grid - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CFP_Portal/projects.css' %}">
     
 
    <style type="text/css">
    
       </style>
       
</head>
<body style="margin-top:100px">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <div class="row">
    
        
        <div class="col-lg-8">
            <div class="d-flex flex-column flex-md-row mb-3 mb-md-0">
                <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        
                        <li class="active breadcrumb-item" aria-current="page">Project {{project.id}}: {{project.project_title}} </li> &nbsp;&nbsp;
                        <li> <b> Launching Date: {{project.launching_date}} </b> </li>
                    </ol>
                </nav>
                
            </div>
             
            
            
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive project-list">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <b>Project Details</b>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">Name</th>
                        <td>{{project.name}} {{project.surname}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Phone Number</th>
                        <td>{{project.phone_number}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Email</th>
                        <td>{{project.email}}</td>
                        
                        </tr>

                    
                        <tr>
                        <th scope="row">Project Title</th>
                        <td>{{project.project_title }}</td>
                        
                        </tr>

                    
                        <tr>
                        <th scope="row">Summarised Abstract</th>
                        <td>{{project.summarised_abstract}}</td>
                        
                        </tr>
                        
                        <tr>
                        <th scope="row">Full Abstract</th>
                        <td>{{project.full_abstract}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Project Complexity</th>
                        <td>{{project.project_complexity}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Expertise Skills</th>
                        <td>{{project.expertiseskills}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Source Type</th>
                        <td>{{project.source_type}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Devices and Technologies</th>
                        <td>{{project.devices}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Motivation</th>
                        <td>{{project.motivations}}</td>
                        
                        </tr>
                        <tr>
                        <th scope="row">Importance</th>
                        <td>{{project.expertiseskills}}</td>
                        
                        </tr>

                         
                      
                    </tbody>
                    </table>
                    </div>
                  
                    
                    <div class="col-lg-4">
                            <h3>Comments({{project.comments.all.count}})</h3>  
                            {%for comment in project.comments.all%}
                                 <h5>{{ comment.name}}</h5> <p>{{comment.feedback}}</p> <p class="font-13 text-muted mb-0"> Date added: {{comment.date_added}}<hr> 
                            {%endfor%}  
                        <form method="POST">
                            {% csrf_token %} 
                            <div class="media-body">
                                {{ form |crispy }}
                                <div class="mt-2 text-right">
                                    <button type="submit" name="comment"class="btn btn-sm btn-custom waves-effect waves-light">Send</button>
                                </div>
                                </form>
                                </div>
                            </div>

            </div>
            </div>
                            
                        
             

                 
                                    
                                    
           {% comment %} add pagination {% endcomment %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	

</script>
</body>
</html>

{% endblock %}