
{% extends "CFP_Portal/sidebar.html" %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>bs4 project grid - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CFP_Portal/projects.css' %}">
     
 
    <style type="text/css">
    
       </style>
       <style>
        .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 17px;
        }

        .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
        }

        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        }

        input:checked + .slider {
        background-color: #2196F3;
        }

        input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
        border-radius: 17px;
        }

        .slider.round:before {
        border-radius: 50%;
        }
        
        #myDIV {
        color: black;
        display: none;
        font-size: 14px;
       
        }
        
</style>
       
</head>
<body style="margin-top:-4px">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <div class="row">
    
        <div class="col-lg-3">
        <div class="mb-4">
                <div class="small mb-3">Search</div>
                <div class="card card-body">
                

			<form method="get">
               
            
               Project title:  {{ myFilter.form.project_title}}   </p>
               Status:      {{ myFilter.form.status}}   </p>   
               Project ID:      {{ myFilter.form.id}}   </p> 
               NICE tier  {{myFilter.form.NICEtier}}   </p>    
				Advanced Search
                <label class="switch"> 
                <input type="checkbox" id="myCheck" onclick="myFunction()">
                <span class="slider round"></span>
                </label>
                <div id="myDIV" class="form-group">
                

                  <p style="color:black;"> Department: {{ myFilter.form.department}}   
                  <p style="color:black;">Organisation: {{ myFilter.form.organisation}} 
                  <p style="color:black;">Open or closed source:  {{ myFilter.form.source_type}}
                  <p style="color:black;">  Area of Expertise {{myFilter.form.expertiseskills}}
                  <p style="color:black;">Name: {{myFilter.form.name}}  </p>   
                  <p style="color:black;">Tags:  {{myFilter.form.tags__name}}   </p>
                  <p style="color:black;">Challenge: {{myFilter.form.challenge}}   </p>    
                </div>
                
                <script>
                
                function myFunction() {
                
                var checkBox = document.getElementById("myCheck");
               
                var x = document.getElementById("myDIV");

                if (checkBox.checked == true){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
                }
                </script>

                    
           <button class="btn btn-primary"name="allprojects" style="margin:5px"type="submit">Search</button>
		    
           
		  </form>
           
            

		</div>
            </div>
            
            <div class="mb-4">
                <div class="small mb-3">Projects</div>
                <ul class="nav flex-column nav-pills">
                <form method="get">
               
                              
				

                    
            
		    <li><button class="btn btn-primary"name="innovation" style="margin:5px" type="submit" >Innovation</button><span class="ml-auto align-self-center badge badge-secondary badge-pill"> {{innovationumber}} </span></a></li>
            <br>
            <li><button class="btn btn-primary"name="scaffolding" style="margin:5px" type="submit">Scaffolding</button><span class="ml-auto align-self-center badge badge-secondary badge-pill">{{scaffoldingnumber}}</span></a></li>
         <br>
         <li><button class="btn btn-primary"name="discovery" style="margin:5px" type="submit">Discovery</button><span class="ml-auto align-self-center badge badge-secondary badge-pill">{{discoverynumber}}</span></a></li>
		  </form>
                   
                    
                </ul>
            </div>
            <div class="mb-4">
                <div class="small mb-3">People</div>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a href="#" class="d-flex nav-link">
                            <div class="media">
                                <div class="mr-3 align-self-center media-left media-middle">
                                    <div class="avatar-image avatar-image--loaded">
                                        <div class="avatar avatar--md avatar-image__image">
                                            <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="mt-0">Alva Kuhic</div><span class="small">Florida, AR</span></div>
                            </div><i class="fa fa-fw fa-circle text-success ml-auto align-self-center ml-2"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="d-flex nav-link">
                            <div class="media">
                                <div class="mr-3 align-self-center media-left media-middle">
                                    <div class="avatar-image avatar-image--loaded">
                                        <div class="avatar avatar--md avatar-image__image">
                                            <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="mt-0">Jeramy Gleason</div><span class="small">Indiana, AZ</span></div>
                            </div><i class="fa fa-fw fa-circle text-warning ml-auto align-self-center ml-2"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="d-flex nav-link">
                            <div class="media">
                                <div class="mr-3 align-self-center media-left media-middle">
                                    <div class="avatar-image avatar-image--loaded">
                                        <div class="avatar avatar--md avatar-image__image">
                                            <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="mt-0">Travis Koch</div><span class="small">Tennessee, AZ</span></div>
                            </div><i class="fa fa-fw fa-circle text-danger ml-auto align-self-center ml-2"></i></a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-fw fa-plus mr-2"></i>Add New People</a></li>
                </ul>
            </div>
        </div>
        
        <div class="col-lg-9">
            <div class="d-flex flex-column flex-md-row mb-3 mb-md-0">
                <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="active breadcrumb-item" aria-current="page"><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="active breadcrumb-item" aria-current="page">Projects Grid</li>
                    </ol>
                </nav>
                <div role="toolbar" class="btn-toolbar">
                
                    <div role="group" class="mr-auto mr-md-2 btn-group"><a class="align-self-center btn btn-secondary" id="tooltipShowList" href="list"><i class="fa-fw fa fa-bars"></i></a><a class="align-self-center btn btn-secondary active" id="tooltipShowGrid" href="" aria-current="page"><i class="fa-fw fa fa-th-large"></i></a></div>
                    
                </div>
                
            </div>
            
            <div class="card-columns">
            {% for project in projects %}
                <div class="Card_custom-card--border_5wJKy card">
                    
                    <div class="card-body"><span class=""/span>
                    {% if project.status == "Rejected"%}
                            <span class="badge badge-danger">{{project.status}} </span>

                            
                            {% elif project.status == "Submitted"%}
                             <span class="badge badge-warning">{{project.status}} </span>

                            {% elif project.status == "Accepted"%}
                            <span class="badge badge-success">{{project.status}}  </span>


                    {% endif %}
                        <div class="mb-2"><a href="{% url 'project-detail' project.id %}" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="{% url 'project-detail' project.id %}">{{project.project_title}}</a></div><span><b>Submitter Name: </b><br>{{project.name}} <br><b> Launching date: </b> <br>{{project.launching_date}} <hr> <b>Tags:</b> {% for mt in project.tags.all %}
                    <a href="#" class="badge badge-success">{{mt}}</a>
                     {% endfor %}</span></div>
                    <div class="card-footer">
                        <div class="mb-2 progress" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                        </div>
                        Tags: 
                    
                        <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
                    </div>
                    <div class="card-footer">
                        <div class="avatar-image avatar-image--loaded mr-2">
                            <div class="avatar avatar--md avatar-image__image">
                                <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"></div>
                            </div>
                        </div>
                        <div class="avatar-image avatar-image--loaded mr-2">
                            <div class="avatar avatar--md avatar-image__image">
                                <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"></div>
                            </div>
                        </div>
                        <div class="avatar-image avatar-image--loaded mr-2">
                            <div class="avatar avatar--md avatar-image__image">
                                <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex card-footer"><span class="align-self-center">20 Sep, Fri, 2018</span>
                        <div class="align-self-center ml-auto btn-group">
                            <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                                <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                                <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                                <div tabindex="-1" class="dropdown-divider"></div>
                                <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
               {%endfor%}
                </div>
                
               
              {% comment %} add pagination {% endcomment %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	

</script>
</body>
</html>

{% endblock %}