{% extends "CFP_Portal/sidebar.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<!doctype html>


                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Snippet - BBBootstrap</title>
                                <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='' rel='stylesheet'>
                                 <link rel="stylesheet" href="#">
    <style type="text/css">
     </style>
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript'></script>
                            </head>
                            <body oncontextmenu='return false' class='snippet-body' style="height:100%;">
<div class="row" style="align:center">
 <div class="card" style="width:40%;align:center; margin-left:300px;padding:50px; border-color:white">
                <div class="card-body text-justify" style="width:100%;  background: rgb(250, 251, 252) url('/media/sidebar/laptop.jpg') top left repeat-y; box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend><br><br>
                {{ form|crispy }}
            </fieldset>
             <small class="text-muted">
               <a class="ml-2" href="{% url 'password_reset' %}">Forgot Your Password? </a>
            </small>
            <div class ="text-center">
            <div class="form-group"><br><br>
                <button class="btn btn-outline-dark " style="width:30%;align:center" type="submit">Login</button>
            </div>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
            <br>
            
        </div>
    </div>
    </div></div></div>
     </body>
                        </html>

{% endblock %}
