{% extends "CFP_Portal/sidebar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background:white">
<div class="row" style="align:center">
 <div class="card" style="width:70%;align:center; margin-left:180px;padding:50px; border-color:white; margin-top:0px">
                <div class="card-body text-justify" style="width:100%;  background: rgb(250, 251, 252) url('/media/sidebar/laptop.jpg') top left repeat-y; box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)">
  
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
       
  </div>
    </div>
    </div>
    </div>
    </body>
{% endblock content %}