{% extends "CFP_Portal/sidebar.html" %}
{% block content %}

<body style="background:white">
<div class="row" style="align:center">
 <div class="card" style="width:70%;align:center; margin-left:180px;padding:50px; border-color:white; margin-top:0px">
                <div class="card-body text-justify" style="width:100%;  background: #0046B1; box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)">
  
    <div class="alert alert-info">
        Your password has been set.
    </div>
    <a href="{% url 'login' %}">  Click here to sign in!</a>
    </div></div></div>
{% endblock content %}

