.profile-nav {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;

}


.profile-nav a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    background-color: #DBDBDB;
    border-left: 5px solid #0530A2;
}

.profile-nav a:hover, .profile-nav  a:focus, .profile-nav ul li.active  a {
    background: #0530A2 !important;
    border-left: 5px solid #fff;
    color: #fff !important;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav  a > i{
    font-size: 16px;
    padding-right: 10px;
    color: #bcb3aa;
}